---
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import {
    Breadcrumb,
    BreadcrumbItem,
    BreadcrumbLink,
    BreadcrumbList,
    BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import Head from "../components/Head.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>{frontmatter.title} - minomino</title>
        <meta property="og:title" content=`${frontmatter.title} - mikumino` />
        <meta property="og:description" content={frontmatter.description} />
        <meta property="og:image" content={frontmatter.image.src} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="theme-color" content="#e64c3e" />
    </head>
    <body>
        <div>
            <Navbar />
        </div>
        <div class="flex flex-col mt-4 mb-6 mx-6 md:mx-auto md:max-w-fit">
            <div class="mb-4">
                <Breadcrumb>
                    <BreadcrumbList>
                        <BreadcrumbItem>
                            <BreadcrumbLink href="/">Home</BreadcrumbLink>
                        </BreadcrumbItem>
                        <BreadcrumbSeparator />
                        <BreadcrumbItem>
                            <BreadcrumbLink href="/blog">Blog</BreadcrumbLink>
                        </BreadcrumbItem>
                        <BreadcrumbSeparator />
                        <BreadcrumbItem>
                            {frontmatter.title}
                        </BreadcrumbItem>
                    </BreadcrumbList>
                </Breadcrumb>
            </div>
            <h1 class="text-4xl font-bold mb-4">
                {frontmatter.title}
            </h1>
            <article
                class="prose dark:prose-invert lg:prose-lg prose-h1:text-primary prose-h2:text-secondary-foreground prose-strong:text-primary/80 prose-img:w-full prose-img:rounded-lg prose-a:decoration-primary prose-a:underline-offset-4 prose-a:decoration-2 prose-a:bg-opacity-70 hover:prose-a:bg-popover prose-a:transition-all max-w-3xl min-h-screen"
            >
                <Image
                    src={frontmatter.image}
                    alt="Post image"
                    class="rounded-xl mb-4"
                    transition:name={frontmatter.title}
                />
                <slot />
            </article>
        </div>
    </body><Footer />
</html>
